<!DOCTYPE html>
<html>
   <head>
      <title>About | IVth Dimension Studios</title>
   </head>
   <body>
      <h1>About</h1>
      <p>
         <a href='http://www.ivdstudios.com/'>ivdstudios</a> is amongst <em>world's</em> 
         leading <em>Gaming Studios</em>. We in IVth Dimension Studios try to build next 
         generation games utilizing all the cores of your processors to bring to you the 
         best gaming experience.
      </p>
   </body>
</html>
