<div class="center jumbotron">
  <h1>Welcome to IV Dimension Studios</h1>

  <h2>
    <a href="http://www.ivdstudios.com/">ivdstudios</a>
    : Canada's Leading Gaming Studios & Film Production House.
  </h2>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("ivdstudios.png", size: "100x100", alt: "ivdstudios logo"),
            'http://i1313.photobucket.com/albums/t557/cooldudeabhi/unnamed_zpsulk1hxyd.jpg/' %>