<footer class="footer">
  <small>
    <a href="http://www.ivdstudios.com/">IV Dimension Studios</a>
    by <a href="http://www.facebook.com/iAbhimanyuAryan">Abhimanyu Aryan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.ivdstudios.com/">News</a></li>
    </ul>
  </nav>
</footer>